body {
    height: 100%;
    background-image: url("./assets/images/multiple-images-marvel-wallpaper.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

#header {
    overflow: hidden;
    background-color: #0c0c0c;
    color: red;
    padding: 40px 10px;
    /* position: fixed; */
    border-radius: 20px;
}
  
/* Style the header links */
#header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    line-height: 25px;
    border-radius: 10px;
}
  
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#header a.logo {
    font-size: 40px;
    font-weight: bold;
    padding-right: 330px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
      
@-webkit-keyframes glow {
        from {
          text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ce0b0b, 0 0 40px #ce0b0b, 0 0 50px #ce0b0b, 0 0 60px #ce0b0b, 0 0 70px #ce0b0b;
        }
        to {
          text-shadow: 0 0 10px #fff, 0 0 30px #8a3eee, 0 0 40px #8a3eee, 0 0 50px #8a3eee, 0 0 60px #8a3eee, 0 0 70px #8a3eee, 0 0 80px #8a3eee;
        }
}
  
/* Change the background color on mouse-over */
#header-right a:hover {
    background-color: #0c8055;
    color: white;
}

#header-right {
    float: right;
}