body {
    height: 500px;
    background-image: url("../assets/images/multiple-images-marvel-wallpaper.jpg");
    background-size: cover;
}

.header {
    overflow: hidden;
    background-color: #0c0c0c;
    color: red;
    padding: 40px 10px;
    /* position: fixed; */
    border-radius: 20px;
}
  
/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
    border-radius: 10px;
}
  
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 40px;
    font-weight: bold;
    padding-right: auto;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
      
@-webkit-keyframes glow {
        from {
          text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #ce0b0b, 0 0 40px #ce0b0b, 0 0 50px #ce0b0b, 0 0 60px #ce0b0b, 0 0 70px #ce0b0b;
        }
        to {
          text-shadow: 0 0 10px #fff, 0 0 30px #8a3eee, 0 0 40px #8a3eee, 0 0 50px #8a3eee, 0 0 60px #8a3eee, 0 0 70px #8a3eee, 0 0 80px #8a3eee;
        }
}
  
/* Change the background color on mouse-over */
.header-right a:hover {
    background-color: #0c8055;
    color: white;
}

.header-right {
    float: right;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 125px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 25px; /* Increase font size */
    font-weight: bold;
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#content {
    padding-top: 30px;
    padding-bottom: 10px;
}

#character-container {
    margin-left: 9rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    padding: 20px;
}

#comments-container {
    margin-left: 160px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#my-character-collection {
    top: 180px;
    background-color: #0c8055;
}
  
#my-comments {
    top: 310px;
    background-color: #2196F3; /* Blue */
}

#form {
    color: white;
    border-radius: 25px;
    background: #080808;
    padding: 35px;
}

button {
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 5px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background: #080808;
    color: rgb(247, 239, 239);
    width: 300px;
    height: 400px;
    border: 10px solid #0e0d0d;
    border-radius: 30px;
    padding: 1px;
    padding-bottom: 2px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front img{
    padding: 2px;
    border-radius: 25px;
    width: 60%;
    background-color: black;
    color: white;
  }
  
  /* Style the back side */
  .flip-card-back {
    padding: 2px;
    border-radius: 25px;
    background-color: #2196F3;
    color: black;
    transform: rotateY(180deg);
  }

  .info-card {
    background: #080808;
    color: rgb(247, 239, 239);
    width: 300px;
    height: auto;
    border: 10px solid #0e0d0d;
    border-radius: 30px;
    padding: 1px;
}

.info-card-inner {
    position: relative;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    text-align: left;
}

.info-card-inner h2 {
    border-bottom: 2px solid #CCC;
    padding-bottom:15px;
    text-align: center;
}

#comment-card {
    background: #080808;
    color: rgb(247, 239, 239);
    border-radius: 25px;
    padding: 20px;
    padding-top: 10px;
    height: auto;
}

#comment-card-inner {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    text-align: center;
}

#comment-card-inner h2 {
    border-bottom: 2px solid #CCC;
    padding-bottom:15px;
    text-align: center;
}

#likes-text {
    color: white;
}

.like:hover {
  color: red;
}

.unlike:hover {
  color: rgb(13, 14, 14);
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}




